:root {
  --secondary-font: 'Raleway', sans-serif;
  --subtitle-color: #2e2f42;
  --background-color: #2e2f42;
  --main-text-color: #434455;
  --logo-span-color: #4d5ae5;
  --link-hover-color: #404bbf;
  --header-paddig-link: 24px 0;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}
.logo {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =========== HEADER =========== */
header {
  border-bottom: 1px solid #e7e9fc;
}
.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-logo {
  color: #2e2f42;
  padding: var(--header-paddig-link);
}
.header-logo span {
  color: var(--logo-span-color);
}
/* ======= MOBILE MENU ======= */
@media screen and (max-width: 767px) {
  .header-list,
  .address {
    display: none;
  }
  .header-btn-mobile-open {
    background-color: transparent;
    border: none;
    padding: 0;
    transition: fill var(--transition-dur-and-func);
  }
  .header-btn-mobile-open:hover,
  .header-btn-mobile-open:focus {
    fill: var(--link-hover-color);
    cursor: pointer;
  }
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #ffffff;
    /* приховування мобільного меню */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func),
      visibility var(--transition-dur-and-func);
  }
  .mobile-menu.is-open {
    /* відкриття мобільного меню */
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    overflow: auto;
  }
  .mobile-menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 80px 0 40px 40px;
  }
  .header-btn-mobile-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid #2e2f42;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: fill var(--transition-dur-and-func),
      background-color var(--transition-dur-and-func),
      border var(--transition-dur-and-func);
  }
  .header-btn-mobile-close:hover,
  .header-btn-mobile-close:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
  }
  .mobile-menu-item {
    margin-bottom: 40px;
  }
  .mobile-menu-link {
    position: relative;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding: 10px 0;
    transition: color var(--transition-dur-and-func);
  }
  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--link-hover-color);
  }
  .mobile-menu-address-item {
    font-style: normal;
    margin-bottom: 40px;
  }
  .mobile-menu-address-tel-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  @media screen and (max-width: 427px) {
    .mobile-menu-address-tel-link {
      font-size: 25px;
    }
  }
  .mobile-menu-address-mail-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .mobile-menu-social-list {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .mobile-menu-social-item {
    width: 40px;
    height: 40px;
  }
  .mobile-menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color var(--transition-dur-and-func);
  }
  .mobile-menu-social-link:hover,
  .mobile-menu-social-link:focus {
    background-color: var(--link-hover-color);
  }
  .mobile-menu-social-icon {
    fill: #f4f4fd;
  }
}
/* =========== /HEADER =========== */
/* ============ HERO ============ */
.hero {
  padding: 112px 0;
  background-color: var(--background-color);
  background-size: cover;
  max-width: 428px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-mobile@2x.jpg');
  }
}
.hero-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
  max-width: 320px;
  margin: 0 auto;
}
.hero-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  margin: 72px auto 0;
  transition: background-color var(--transition-dur-and-func);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}
/* ============ /HERO ============ */
/* ========= ADVANTAGES ============= */
.advantages {
  padding: 96px 0;
}
@media screen and (max-width: 767px) {
  .advantages-item {
    margin-bottom: 72px;
  }
  .advantages-item:last-child {
    margin-bottom: 0;
  }
}
.advantages-thumb {
  display: none;
}
.advantages-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--subtitle-color);
  margin-bottom: 8px;
}
.advantages-text {
  font-weight: 500;
  color: var(--main-text-color);
}
/* =========== /ADVANTAGES ============== */
/* ============== DOING ================== */
@media screen and (max-width: 1199px) {
  .doing {
    display: none;
  }
}
/* ============== /DOING ================== */
/* ================= TEAM ================= */
.team {
  background: #f4f4fd;
  padding: 96px 0 128px;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}
.team-item {
  width: calc((100% - gap * 3) / 4);
}
.team-content {
  padding: 32px 16px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-subtitle {
  text-align: center;
  color: var(--subtitle-color);
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition-dur-and-func);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--link-hover-color);
}
.team-social-icon {
  fill: #f4f4fd;
}
/* =============== /TEAM ================ */
/* ============== COSTUMERS =============== */
.costumes {
  padding: 96px 0;
}
.costumers-title {
  margin-bottom: 72px;
}
.costumers-list {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
  flex-wrap: wrap;
}
/* .costumers-item {
} */
.costumer-link {
  color: #8e8f99;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: color var(--transition-dur-and-func),
    border var(--transition-dur-and-func);
}
.costumer-link:hover,
.costumer-link:focus {
  color: var(--link-hover-color);
  border: 1px solid var(--link-hover-color);
}
.costumers-icon {
  fill: currentColor;
}
/* ============== /COSTUMERS =============== */
/* ====== Portfolio: FILTER and PROJECTS ====== */
.filter {
  padding-top: 48px;
  padding-bottom: 80px;
}
.filter-list {
  display: flex;
  column-gap: 24px;
  row-gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 48px;
}
.filter-btn {
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 8px 16px;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    border var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}
.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--link-hover-color);
  cursor: pointer;
  border: 1px solid #404bbf;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.projects-list {
  display: flex;
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;
}
.projects-item {
  width: calc((100% - column-gap * 3) / 4);
}
.projects-link {
  transition: box-shadow var(--transition-dur-and-func);
  display: block;
}
.projects-link:hover,
.projects-link:focus {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-item-content {
  padding: 32px 16px;
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: 0;
}
.projects-subtitle {
  color: var(--subtitle-color);
  margin-bottom: 8px;
}
.projects-text {
  color: var(--main-text-color);
}
.projects-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-and-func);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px 0;
  background-color: #4d5ae5;
}
.projects-link:hover .overlay,
.projects-link:focus .overlay {
  transform: translate(0, 0);
}
/* ====== /Portfolio: FILTER and PROJECTS ====== */
/* =============== FOOTER ==============*/
.footer {
  background-color: var(--background-color);
  padding: 96px 0;
}
.footer-logo-wrap {
  margin-bottom: 72px;
}
.footer-logo {
  color: #f4f4fd;
  justify-content: center;
  margin-bottom: 16px;
}
.footer-logo span {
  color: var(--logo-span-color);
}
.footer-text {
  max-width: 268px;
  color: #e7e9fc;
  margin: 0 auto;
}
.footer-social {
  margin-bottom: 72px;
}
.footer-social-text {
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition-dur-and-func);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-icon {
  fill: #f4f4fd;
}
.footer-form-text {
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-modal-form-input {
  /* display: block; */
  color: #ffffff;
  background-color: inherit;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 9px 16px;
  transition: border-color var(--transition-dur-and-func);
}
.footer-modal-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}
.footer-modal-form-submit {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 169px;
  align-self: center;
  padding: 8px 24px;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func);
}
.footer-modal-form-submit:hover,
.footer-modal-form-submit:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}
.footer-modal-form-submit-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-right: 16px;
}
.footer-modal-form-submit-icon {
  fill: #ffffff;
}
/* =============== /FOOTER ==============*/
/*============= MODAL WINDOW =============*/
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 586px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0 10px;
  overflow: auto;
}
@media screen and (max-width: 427px) {
  .modal {
    width: 100%;
    height: 100%;
  }
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: fill var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    border var(--transition-dur-and-func);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.modal-text {
  font-weight: 500;
  color: #2e2f42;
  text-align: center;
  margin: 72px 0 16px;
}
/*============= /MODAL WINDOW =============*/
/*=============== MODAL FORM ================*/
.modal-form {
  display: flex;
  flex-direction: column;
}
.label-form-field {
  margin-bottom: 8px;
}
.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translate(0, -50%);
  fill: #2e2f42;
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}
.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}
.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
}
.modal-form-check-desc::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: #404bbf;
  background-image: url(../images/form-check-mark.svg);
  fill: #f4f4fd;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.modal-form-check:focus + .modal-form-check-desc::before {
  outline: 1.25px solid #404bbf;
  border-radius: 2px;
}
.modal-form-policy {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
}
.modal-form-submit {
  min-width: 169px;
  align-self: center;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}
/*=============== /MODAL FORM ================*/
